<!doctype html>
{% extends 'base.html' %}


{% block head %}
    <meta content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p>Welcome {{user['nickname']}}</h2>
        </div>
  <!-- <img class="avatar" src="{{user['picture']}}"/> -->
</div>

    <div class="col-xs-12">
        <h2 id="next-steps"> Next Steps:</h2> 
    </div>
    <div class="col-xs-offset-4 col-xs-8">   
        <h3>Save Getaway</h3>
        <button><a href="/save_getaway" id="save-getaway">Save</a></button><br>
        <h3>Replay</h3>
        <button><a href="/getaways" id="get-getaways">Replay</a></button> 
        <br>
        <h3>Logout</h3>
        <button><a href="/logout" id="logout">Logout</a></button> 
{% endblock %}
