<!doctype html>
{% extends 'base.html' %}


{% block head %}
    <meta content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Welcome {{user['nickname']}}</h2>
        </div>
    </div>
  <!-- <img class="avatar" src="{{user['picture']}}"/> -->
<div class="row">
    <div class="col-xs-offset-6 col-xs-6">
        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Next Steps
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/save_getaway">Save Getaway</a></li>
    <li><a href="/getaways">Replay Prior Getaways</a></li>
    <li><a href="/">Create New Getaway</a></li>
    <li><a href="/logout">Logout</a></li>
    <li role="separator" class="divider"></li>
  </ul>
</div>
{% endblock %}
