<!doctype html>
{% extends 'base.html' %}

{% block head %}
    <script src="https://code.jquery.com/jquery.js"></script>
{% endblock %}

{% block content %}

<!-- This div contains the song selection form -->
    <form action="/play" method="POST" id="ssearch">

    <div class="form-group">
        <label>Enter Song Name: <input type="text" name="sname" id="psname" 
            class="required">
        </label>
    </div>

<!-- This div contains the location selection form -->
   <!-- <form action="/play" method="POST" id="lsearch"> -->

   <!--  <div class="form-group">
        <label>Enter Location Name: <input type="text" name="lname" id="plname" 
            class="required">
        </label>
    </div>
 -->
    <input type="submit" value="GO!" id="btn-primary">

</form>

    <!-- <script src="/static/js/validatesong.js"></script> -->


{% endblock %}