<!doctype html>
{% extends 'base.html' %}

{% block head %}
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>One Minute Getaway</title>
{% endblock %}

{% block content %}

<!-- This div contains the song selection form -->
    <form action="/songprocess" method="POST" id="ssearch">

        <div class="form-group">
            <p id="welcome"> Getaway for a minute! Listen to your choice of song while looking at a picture of a location you pick! </p>
            <label>Enter Song Name: <input type="text" name="sname" id="psname"required="required" placeholder="song name"></label>
        </div>

        <input type="submit" value="GO!" id="btn-primary-">

    </form>

    <!-- using "required" attribute to check for empty field -->

{% endblock %}