<!doctype html>
{% extends 'base.html' %}

{% block head %}
    <meta content="width=device-width, initial-scale=1">
    <title>One Minute Getaway</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css">
    <link rel="stylesheet" href="/static/css/homepage.css">
{% endblock %}

{% block content %}
    
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p> One Minute Getaway!</p>
        </div>
        <div class="col-xs-12 text-center">
            <h2 id="summary"> Pick a song and a location and getaway!<br><br>Enter Song Name:</h2> 
        </div>
        <div class="col-xs-12 text-center">    
            <form action="/songprocess" method="POST" id="ssearch">
                <input type="text" name="sname" id="psname"required="required" placeholder="song name">
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <input type="submit" value="GO!" class="buton">
            </div>
        </div>
            </form>
        </div>
    </div>
</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}