<!doctype html>
{% extends 'base.html' %}
{% block head %}
    <title>What would you like to do now?</title>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

    <style>

        body{
            padding: 2em;
            font-family: sans-serif;
        }
        #options{
        }

        #options > div {
            width: 20%;
            display: inline-block;
            margin: 0 2em 2em 0;
        }

        #options > div > img {
            height: 64px;
            margin-bottom: 10px;
            display: block;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Options</h1>
     <div id="options">
        {% for image in images %}
            <div>
                <img src="{{ image.source }}" alt="{{ image.label }}">
                <button id="{{ image.id }}"><a href="{{ image.url }}">{{image.label}}</a></button>
            </div>
        {% endfor %}
        </div>  
{% endblock %}

