<!doctype html>
{% extends 'base.html' %}
{% block head %}
    <title>What would you like to do now?</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css">
    <link rel="stylesheet" href="/static/css/options.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
          <h1>One Minute Getaway</h1>
          <h2>Options:</h2>
        </div>
    </div>
         <div class="row">
        {% for image in images %}
        <div class="col-xs-6 col-md-4 text-center">
            <div class="well option-box" id="boxl">
        
        <a href="{{ image.url }}"><img src="{{ image.source }}" alt="{{ image.label }}"></a>
        <h3></h3>
            <figcaption id="{{ image.id }}"><a href="{{ image.url }}" class="btn btn-primary" role="button">{{image.label}}</a></figcaption>
        </div>
    </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}

