<!doctype html>
{% extends 'base.html' %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/play.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}

<!-- This div contains the image -->
<header id="top" class="header">
    <body background="{{lurl}}" class="header">
    <div class="text-vertical-center">
        <h1>{{locname}}</h1>
            <br>
        <form action="/options" id="options">
        <input type="hidden" name="track_id" id="track_id" value="{{track_id}}">
        <input type="hidden" name="locname" id="locname" value="{{locname}}">
        <input type="hidden" name="lurl" id="lurl" value="{{lurl}}">
        <input type="submit" value="Options" class="btn btn-dark btn-lg">
        </form>
    </div>

<!-- This div contains the song -->
   <div class="row">
        <div class="col-xs-12 text-center">
                <!-- to hide player delete word controls below -->
        <audio src={{surl}} controls autoplay>
        </audio>
        </div>
    </div>

<!-- This is the div for attributions -->
    <div class="row logo">
        <div class="col-xs-12"> 
        <img class="logo-image" src="/static/img/7d_wordmark_colour_RGB_Small.png"></img>
        <img class="logo-image" src="/static/img/powered_by_google_on_white.png"></img>
    </div>
    </div>


{% endblock %}