<!doctype html>
{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript"></script>
{% endblock %}


{% block content %}
<!-- This div contains the image -->
<!-- This div contains the song URL -->

        

        <div id="song-player">
            <meta http-equiv="refresh" content="0; "

            // <script type="text/javascript">
            // var songUrl = sURL
            // window.location.href = +songUrl+
            // </script>
            <!-- <audio autoplay>
                <source src=sURL>
            </audio> -->
        </div>

{% endblock %}
