<!doctype html>
{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block content %}
<!-- This div contains the image -->
    <div id="photodisplay">Enjoy a getaway to {{locname}}
        <img id="photo" src={{lurl}}></img>
    </div>

<!-- This div contains the song URL -->
    <div id="song-player">
            <!-- to hide player delete word controls below -->
        <audio src={{surl}} controls autoplay>
        </audio>
    </div>

<!-- This is the div for attributions -->
    <div id="7digital"> 
        <img src="/static/img/7d_wordmark_colour_RGB_Small.png">song</img>
    </div>
    <div id="google"> 
        <img src="/static/img/powered_by_google_on_white.png">photo</img>
    </div>

<form action="/options" id="options">
        <input type="hidden" name="track_id" id="track_id" value="{{track_id}}">
        <input type="hidden" name="locname" id="locname" value="{{locname}}">
        <input type="hidden" name="lurl" id="lurl" value="{{lurl}}">
<input type="submit" value="Options" id="btn-primary-play">
</form>


{% endblock %}
