<!doctype html>
{% extends 'base.html' %}


{% block head %}
    <style>
    #map {
            height:50px;
            display: none;
    }

    </style>
{% endblock %}

{% block content %}
<form action="/play" id="lsearch">
    <div class="form-group">
    <p id="locwelcome">Now it's time to pick a location! </p>
        <label>Enter Location Name: <input type="text" name="lname" id="plname"required="required" size="50"></label>
        <input type="hidden" name="URLphoto" id="URLphoto" value="">
        <input type="hidden" name="locname" id="locname" value="">
        <input type="hidden" name="track_id" id="track_id" value="{{track_id}}">
        <input type="hidden" name="song_name" id="song_name" value="{{song_name}}">
    </div>
<input type="submit" value="GO!" id="btn-primary-loc">
</form>
<div id="map"></div>
<script src="https://code.jquery.com/jquery.js"></script>


<script type="text/javascript">

var map;
var selectedPlace;

function initialize() {
  var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);
    map = new google.maps.Map(document.getElementById('map')), {
      center: pyrmont,
      zoom: 15
    };        
  var input = document.getElementById('plname');
  var options = {};

autocomplete = new google.maps.places.Autocomplete(input, options);

autocomplete.addListener('place_changed', function () {
    selectedPlace = autocomplete.getPlace();
    

    if (selectedPlace.photos && selectedPlace.photos.length >= 1) {
        var myPhoto = selectedPlace.photos[0];
        var photoURL = myPhoto.getUrl({maxWidth: 500});
        var htmlPhotoField = document.getElementById('URLphoto');
        htmlPhotoField.setAttribute('value', photoURL);
        var namePlace = document.getElementById('locname');
        namePlace.setAttribute('value', selectedPlace.name);
    } else {
        var htmlPhotoField = document.getElementById('URLphoto');
        htmlPhotoField.setAttribute('value', 'http://www.puppyfind.com/');
        var namePlace = document.getElementById('locname');
        namePlace.setAttribute('value', selectedPlace.name);
    }
    });
}
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{google_api}}&libraries=places&callback=initialize"></script>

{% endblock %}