<!doctype html>
{% extends 'base.html' %}

{% block head %}
<title>Song Problem</title>
<style>
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body {
    background-image: url(/static/img/boat_in_distance.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
  }
</style>
{% endblock %}

{% block content %}
<h3>Song Problem:</h3>
<h4> There is more than one song with that name; only the first 10 are shown. Please choose the song you want. Songs appear more than once if included on multiple releases.</h4>

<p>Please choose a song:</p>

<table class="table table-condensed">
<form id="song_selection" action="/select_loc">
    {% for song in songs %}
    <tr>
      <td>
        <input type="radio" name="track_id" value="{{song[0]}}">{{song[1]}}<br>
        <input type="hidden" name="song_name" value="{{song[1]}}">
      </td>
    </tr>
    {% endfor %}
    <input type="submit" value="Pick Song" id="btn-pick-primary">
</form>
{% endblock %}