<!doctype html>
{% extends 'base.html' %}

{% block head %}
<meta content="width=device-width, initial-scale=1">
<title>Song Problem</title>
<link rel="stylesheet" href="/static/css/song_prob.css">


{% endblock %}

{% block content %}
<div class="container-fluid">
<h3></h3>
<h4></h4>

<form class="form-horizontal" id="song_selection" action="/select_loc">
<fieldset>

<legend>MULTIPLE SONGS</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Select Desired Song:</label>
    <div class="col-md-4">
      <div class="radio">
        {% for song in songs %}
        <label for="radios-0">
          <input type="radio" name="track_id" id="radios-0" value="{{song[0]}}">
      {{song[1]}}
          <input type="hidden" name="song_name" value="{{song[1]}}">
        </label>
        <br>
        {% endfor %}
        <br>
      <input type="submit" value="Pick Song" class="btn btn-pick-primary" id="singlebutton">
      </div>
    </div>
</div>
</form>
</div>

{% endblock %}