<!doctype html>
{% extends 'base.html' %}
{% block head %}
    
<meta content="width=device-width, initial-scale=1">
<title>User Getaways</title>
<link rel="stylesheet" href="/static/css/user_getaways.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
<h3></h3>
<h4></h4>

<form class="form-horizontal" id="user-getaways" action="/replay" method="get">
<fieldset>

<legend>PRIOR GETAWAYS</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Select a getaway to replay:</label>
    <div class="col-md-4">
      <div class="radio">
        {% for getaway in user_getaways %}
        <label for="radios-0">
          <input type="radio" name="getaway_id" id="radios-0" value="{{getaway.getaway_id}}"><strong>Song: </strong> {{getaway.song.song_name}}  &#8195; <strong>Location: </strong>{{getaway.location.loc_name}}
          <input type="hidden" name="locname"  value="{{getaway.location.loc_name}}">
          <input type="hidden" name="URLphoto" value="{{getaway.location.pict_URL}}">
          <input type="hidden" name="song_name" value="{{getaway.song.song_name}}">
        </label>
        <br>
        {% endfor %}
        <br>
      <input type="submit" value="Pick Replay" class="btn btn-pick-primary" id="singlebutton">
      </div>
    </div>
  </div>
</form>
</div>
{% endblock %}
