<!doctype html>
{% extends 'base.html' %}
{% block head %}
    <title>Replay Getaway</title>
    <style>
      html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      body {
        background-image: url(/static/img/city_skyline.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: black;
      }
    </style>
{% endblock %}

{% block content %}
<h1>Replay Prior Getaways</h1>
<table class="table table-condensed">
     <form id="user-getaways" action="/replay" method="get">
        {% for getaway in user_getaways %}
        <tr>
          <td>
            <input type="radio" name ="getaway_id" value="{{getaway.getaway_id}}"> <strong>Song: </strong> {{getaway.song.song_name}}  &#8195; <strong>Location: </strong>{{getaway.location.loc_name}}
          </td>
        </tr> 
            <input type="hidden" name="locname"  value="{{getaway.location.loc_name}}">
            <input type="hidden" name="URLphoto" value="{{getaway.location.pict_URL}}">
            <input type="hidden" name="song_name" value="{{getaway.song.song_name}}">
        {% endfor %}
        <input type="submit" value="Pick Replay" id="btn-pick-replay">
    </form>
    </table
{% endblock %}
