<!doctype html>
{% extends 'base.html' %}
{% block head %}
    <title>Replay Getaway</title>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

    <style>
    </style>
{% endblock %}

{% block content %}
    <h1>Replay Prior Getaways</h1>
    <h2>Choose Getaway:</h2>
     <form id="user-getaways" action="/replay" method="get">
        {% for getaway in user_getaways %}
            <input type="radio" name ="getaway_id" value="{{getaway.getaway_id}}"> <strong>Song: </strong> {{getaway.song.song_name}}  &#8195; <strong>Location: </strong>{{getaway.location.loc_name}}<br>
            <input type="hidden" name="locname"  value="{{getaway.location.loc_name}}">
            <input type="hidden" name="URLphoto" value="{{getaway.location.pict_URL}}">
            <input type="hidden" name="song_name" value="{{getaway.song.song_name}}">
        {% endfor %}
        <input type="submit" value="Pick Replay" id="btn-pick-replay">
    </form>
{% endblock %}
